/* ---------------Home---------------- */
body {
	display: grid;
	grid-template-columns: auto 70% auto;
margin: 0;
}

header{
	display: flex;
	justify-content: space-between;
	grid-column: 2;
	font-family: Bebas;
}



.img{
	grid-column: 2;
	grid-row: span 7;
/* 	display: grid;
grid-template-rows: 10% auto; 
height: 100%;
font-family: Bebas; */
}

header h1{
	color: #FFC600 ;
}

header ul {
	display: flex;
}


header li {
	list-style: none;
	margin: 5px;
}

header a{
	text-decoration: none;
}

main{
	grid-column: 2;	
	font-family: Helvetica Neue;
}

.slide{
	margin-top: 1%;
	grid-row: span 20;
	width: 100%;
	height: 100%;
}

.simgs{
	display: grid;
	display: flex;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content: space-between;
}

.inhoud{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
}

.inhoud div{
	margin-right: 4%;
}


.tab p{
	background-color: #C2C2C2;
}

.recentwork{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recentwork h3{
	margin: 0;
}

.recentwork p {
	margin-top: 0;
}

footer{
	background-color: #FFA800;
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}

footer div{
 margin-right: 4%;
}

.socialmedia{
	float: left;
}

.color1{
	display: grid;
	grid-row: 11/12;
	grid-column: 1/2 ;
	margin-right: 2%;	
	background-color: #F7D11F;
}
.color2{
	display: grid;
	grid-row: 11/12;
	grid-column: 3/4 ;
	margin-left: 2%;
	background-color: #F7D11F;
}

.color3{
height: 60px;
	display: grid;
	grid-row: 2/3;
	grid-column: 1/2 ;
	margin-right: 2%;
	background-color: #F7D11F;
}
.color4{
	height: 60px;
	display: grid;
	grid-row: 2/3;
	grid-column: 3/4 ;
	margin-left: 2%;
	background-color: #F7D11F;
}

@media only screen and (max-width: 1450px){

	.recentwork{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.simgs{
	display: grid;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: space-between;
	}
}

/* --------------Portfolio---------------- */

.title{
	grid-row: 2/3;
	grid-column: 2/3;
	background-color: #FFA800;
}

.title p {
	color: #FFFFFF;
	margin-left: 2%;
	font-size: 120%;
	font-family: 'Bebas Neue';
}